/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.container {
    background-color: #FFA500; /* Orange background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 30rem;
}

.login-box {
    text-align: center;
    padding: 20px;
}

h1 {
    color: #fff; /* White text */
    font-size: 24px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-container {
    margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #FF6347; /* Tomato color */
    color: #fff; /* White text */
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #FF4500; /* Darker tomato color on hover */
}
